html {
  height: 100%;
  background-image: linear-gradient(to right, #131862, #87cefa);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#container {
  background-image: linear-gradient(to right, #131862, #87cefa);
  background-position: center;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 8em;
  text-align: center;
}
#sunrise {
}
#cities {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#location {
  position: center;
}
#citiesBox {
  display: flex;
  justify-content: space-evenly;
}
